/* Container do mapa */
.map-container {
    height: calc(100vh - 56px); /* Ajusta a altura para deixar espaço para o botão de zoom */
    width: 100%;
    position: relative; /* Garante que o container do mapa seja o contexto para posicionamento absoluto */
}