<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgvw_HvPKWDALPND_TFFD6xQbV7DRNW8E">
</script>
<ion-content [fullscreen]="true">
  <div class="map-container" *ngIf="mapVisible">
    <google-map [height]="'100%'" [width]="'100%'" [center]="center" [zoom]="zoom">
      <map-marker [position]="center"></map-marker>
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfoWindow(marker, infoWindow)">
      </map-marker>
      <map-info-window #infoWindow>
        {{ selectedMarkerInfo }}
      </map-info-window>
    </google-map>
  </div>
  <!--<app-explore-container name="Tab 2 page">*ngIf="mapVisible"</app-explore-container>-->
</ion-content>