<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgvw_HvPKWDALPND_TFFD6xQbV7DRNW8E">
</script>
<ion-content [fullscreen]="true">
  <div class="proxrua">
    Vire em: {{proximaRua}}
  </div>
  <div class="map-container" *ngIf="mapVisible">
    <google-map [height]="'100%'" [width]="'100%'" [center]="center" [zoom]="zoom">
      <map-marker [position]="center"></map-marker>
      <!-- MARCADORES NO MAPA-->
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [icon]="marker.icon"
        (mapClick)="openInfoWindow(marker, infoWindow)">
      </map-marker>
      <map-info-window #infoWindow>
        {{ selectedMarkerInfo }}
      </map-info-window>
    </google-map>
  </div>
  <!--<app-explore-container name="Tab 2 page">*ngIf="mapVisible"</app-explore-container>-->
  <div class="popup-container" *ngIf="showPopup">
    <div class="popup">
      <p>VOCÊ ESTÁ EM:</p>
      <h2>{{ruaAtual}}</h2>
      <p>Qual o nível da água?</p>
      <div class="buttons">
        <button ion-button (click)="selectLevel(1)">
          <img src="assets\nivel1.png" alt="Nível 1">
        </button>
        <button ion-button (click)="selectLevel(2)">
          <img src="assets\nivel2.png" alt="Nível 2">
        </button>
        <button ion-button (click)="selectLevel(3)">
          <img src="assets\nivel3.png" alt="Nível 3">
        </button>
        <button ion-button (click)="selectLevel(4)">
          <img src="assets\nivel4.png" alt="Nível 4">
        </button>
        <button ion-button (click)="selectLevel(5)">
          <img src="assets\nivel5.png" alt="Nível 5">
        </button>
      </div>
      <a (click)="selectLevel(0)">Não sei ou não quero informar</a>
    </div>
  </div>
  <div class="selected-level" *ngIf="!showPopup">
    <p>VOCÊ ESTÁ EM:</p>
    <p>{{ruaAtual}}</p>
  </div>
</ion-content>

