<ion-content [fullscreen]="true">
  <div class="map-container">
    <google-map [height]="'100%'" [width]="'100%'" [center]="center" [zoom]="zoom">
      <map-marker [position]="center"></map-marker>
    </google-map>
  </div>

  <div class="search-container">
    <ion-button expand="block" (click)="toggleSearch()" class="search-button">
      <ion-grid>
        <ion-row>
          <ion-col class="text-left">
            Para onde vamos?
          </ion-col>
          <ion-col class="icon-right">
            <ion-icon name="search-outline" style="color: black;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>

    <div *ngIf="showSearchForm" class="search-form">
      <ion-item [ngClass]="{'error': hasError}">
        <ion-label position="floating">Saída</ion-label>
        <ion-input [(ngModel)]="saida"></ion-input>
      </ion-item>

      <ion-item [ngClass]="{'error': hasError}">
        <ion-label position="floating">Destino</ion-label>
        <ion-input [(ngModel)]="destino"></ion-input>
      </ion-item> 
      
      <div class="form-controls">
        <ion-item [ngClass]="{'error': hasError}">
          <ion-label position="floating">Horário</ion-label>
          <ion-input [(ngModel)]="horario" type="time"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="onSearch()" class="btn2">
          Vamos!
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>
