<div class="expandable-container">
  <ion-button (click)="toggleExpand()"><span>Para onde vamos?</span></ion-button>

  <div *ngIf="isExpanded" class="expandable-content">
    <ion-input class ="input" [(ngModel)]="saidaInput" [value]="saidaInput" placeholder="Saída"></ion-input>
    <ion-input class ="input" [(ngModel)]="destinoInput" placeholder="Destino"></ion-input>
    <div class="horaEnviar">
      <ion-input id ="inputhora" [(ngModel)]="time" placeholder="Horário"> </ion-input>
    <button id="submitbutton" expand="full" (click)="sendRoute()">Vamos</button>
    </div>
  </div>
</div>
