<div class="expandable-container">
  <button (click)="toggleExpand()" class="expand-button" id="botao">
    Para onde vamos?
  </button>

  <div *ngIf="isExpanded" class="expandable-content">
    <ion-input id ="input"[(ngModel)]="saidaInput" placeholder="Saída" value></ion-input>
    <ion-input id ="input" [(ngModel)]="destinoInput" placeholder="Destino"></ion-input>
    <input id ="input" placeholder="Horário de saída" class="input-field">
    <ion-button id="submitbutton" expand="full" (click)="sendRoute()">Vamos</ion-button>
  </div>
</div>
