<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/logo.png" alt="Logo" style="height: 40px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="map-container">
    <google-map [height]="'100%'" [width]="'100%'" [center]="center" [zoom]="zoom">
      <map-marker [position]="center"></map-marker>
    </google-map>
  </div>

  <div class="search-container">
    <ion-button expand="block" (click)="toggleSearch()" class="search-button">
      <ion-grid>
        <ion-row>
          <ion-col class="text-left">
            Para onde vamos?
          </ion-col>
          <ion-col class="icon-right">
            <ion-icon name="search-outline" style="color: black;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>

    <div *ngIf="showSearchForm" class="search-form">
      <ion-item>
        <ion-label position="floating">Saída</ion-label>
        <ion-input [(ngModel)]="saida"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Destino</ion-label>
        <ion-input [(ngModel)]="destino"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Horário</ion-label>
        <ion-input [(ngModel)]="horario" type="time"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="onSearch()">
        Vamos!
      </ion-button>
    </div>
  </div>
</ion-content>
